{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>게시판</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
  <link href="https://fonts.googleapis.com/css?family=Poor+Story&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e2e473e5eb.js"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="shortcut icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
  <style>
    body {
      font-family: "Poor Story", "sans serif"
    }
    a {
      color: rgb(138, 138, 138);
      text-decoration: none;
    }
    footer {
      display: fixed;
      bottom: 0;
      margin: 10 0 0 0;
      height: 50px;
      width: 100%;
    }
    .time_cnu {
      font-size: 0.8rem;
    }
    
  </style>
  {% block css %}
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light disabled">게시판</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light active" href="{% url 'articles:index' %}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link text-light" href="{% url 'articles:create' %}">New</a>
        
      </div>
      {% if user.is_authenticated %}
      <!-- 로그인이 되어 있다면, -->
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light" href="{% url 'accounts:info' %}">{{ user.username }}</a>  <!-- user만 context에 넣지 않고 사용할 수 있다.(이미 request에 담겨있음) -->
        <a class="nav-item nav-link text-light" href="{% url 'accounts:logout' %}">LOGOUT</a> 
      </div>
      <!-- 로그인이 되어 있지 않다면, -->
      {% else %}
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light" href="{% url 'accounts:signup' %}">Sign Up</a>
        <a class="nav-item nav-link text-light" href="{% url 'accounts:login' %}">LOGIN</a> 
      </div>
      {% endif %}
    </div>
  </nav>
  
  <div class="container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% block body %}
    {% endblock %}
  </div>
  <footer class="bg-dark text-light mb-0 mt-3 d-flex justify-content-between align-items-center px-3">
    <div class="d-inline-block">조선행</div>
    <a href="#" class="d-inline-block">위로!<i class="fas fa-angle-up"></i></a>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
</body>
</html>