{% extends 'articles/base.html' %}

{% load bootstrap4 %}

{% block body %}
<h1>{{ article.title }}</h1>
<h4 class="text-right">{{ article.id }}번째 글</h4>
<div class="text-justify lead">
  <p><pre>{{ article.content }}</pre></p>
</div>
<p class="text-right time_cnu">작성일자: {{ article.created_at }}</p>
<p class="text-right time_cnu">최종 수정일자: {{ article.updated_at }}</p>
<a href="{% url 'articles:index' %}">목록으로</a>
<a href="{% url 'articles:update' article.pk %}">수정</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울래?')">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
<hr>
<h4>댓글 작성</h4>
<p>댓글 수: {{ comments.count }}</p>
<form action="{% url 'articles:comment_create' article.pk %}", method="POST">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  {% buttons %}
    <button type="submit" class="btn btn-secondary">등록</button>
  {% endbuttons %}
</form>
<hr>
{% for comment in comments %}
<p>{{ comment.content }}</p>
<p><sub>{{ comment.created_at }}</sub></p>
<form action="{% url 'articles:comment_delete' article.pk comment.pk %}", method="POST">
  {% csrf_token %}
  <input type="submit" value="삭제?">
</form>
<br>
{% empty %} <!-- 비어있는 경우에는 if문 사용하지 않아도 표현 가능! -->
<p>댓글이 없어요! T^T</p>
<br>
{% endfor%}
{% endblock %}