{% extends 'articles/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block body %}
<h1>{{ article.title }}</h1>
<h4 class="text-right">{{ article.id }}번째 글</h4>

<div class="lead d-inline-block" style="width:100%;">
  {% if article.image %}
  <img src="{{ article.image.url }}" alt="{{ article.image.name }}">
  <br>
  {% endif %}
  {% load hashtag %}
  <p>{{ article|make_link|safe }}</p>
  <p  class="text-center"><sub id="like-count">좋아요: {{ article.like_users.count }}</sub></p>
  
  <div class="d-inline-block text-center" style="width: 100%;">
    {% if user in article.like_users.all %}
    <i id="like-button" data-id="{{ article.id }}" class="fas fa-heart text-danger animated infinite pulse delay-1s"></i>
    {% else %}
    <i id="like-button" data-id="{{ article.id }}" class="far fa-heart text-danger animated infinite rubberBand delay-1s"></i></i>
    {% endif %}
  </div>
</div>

<p class="text-right">글쓴이 : <a href="{% url 'accounts:profile' article.user.pk %}">{{ article.user }}</a></p>
<p class="text-right time_cnu">작성일자: {{ article.created_at }}</p>
<p class="text-right time_cnu">최종 수정일자: {{ article.updated_at }}</p>
<a href="{% url 'articles:index' %}">목록으로</a>
{% if user == article.user %}
<a href="{% url 'articles:update' article.pk %}">수정</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울래?')">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
{% endif %}
<hr>
{% if user.is_authenticated %}
<h4>댓글 작성</h4>
{% endif %}
<p>댓글 수: {{ comments.count }}</p>
{% if user.is_authenticated %}
<form action="{% url 'articles:comment_create' article.pk %}", method="POST">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  {% buttons %}
    <button type="submit" class="btn btn-secondary">등록</button>
  {% endbuttons %}
</form>
<hr>
{% endif %}
{% for comment in comments %}
<p>{{ comment.content }}</p>
<p><sub>작성자 : {{ comment.user }}</sub></p>
<p><sub>{{ comment.created_at }}</sub></p>
{% if user == comment.user %}
<form action="{% url 'articles:comment_delete' article.pk comment.pk %}", method="POST">
  {% csrf_token %}
  <input type="submit" value="삭제?">
</form>
{% endif %}
<br>
{% empty %} <!-- 비어있는 경우에는 if문 사용하지 않아도 표현 가능! -->
<p>댓글이 없어요! T^T</p>
<br>
{% endfor%}
{% endblock %}

{% block script %}
<script>
  const likeButton = document.querySelector('#like-button')
  const likeCount = document.querySelector('#like-count')
  likeButton.addEventListener('click', function(event) {
    console.log(event.target.dataset.id)
    axios.get(`/articles/${event.target.dataset.id}/like/`)
      .then(response => {
        console.log(response)
        console.log(event.target)
        if (response.data.is_liked) {
          event.target.classList.remove('far')
          event.target.classList.add('fas')
        } else {
          event.target.classList.remove('fas')
          event.target.classList.add('far')
        }
        console.log(likeCount)
        likeCount.innerText = `좋아요: ${response.data.like_count}`
        
      })
  })
</script>
{% endblock %}