{% extends 'articles/base.html' %}

{% block css %}
<style>
  input, textarea, label {
    margin-bottom: 10px;
  }

  label {
    display: inline-block;
  }
</style>
{% endblock %}

{% block body %}
<form action="/articles/{{ article.pk }}/edit_result/">
  <label for="title">제목 </label><br>
  <input type="text" name="title" id="title" value="{{ article.title }}"><br>
  <label for="text">내용</label><br>
  <textarea name="text" id="text" cols="80" rows="20">{{ article.content }}</textarea><br>
  <input type="submit" value="수정">
  <a href="/articles/{{ article.pk }}"><input type="button" value="취소"></a>
</form>
{% endblock %}