{% extends 'articles/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'articles/style.css' %}">

{% endblock %}
{% block body %}
  <div class="d-flex justify-content-center">
    <img src="{% static 'articles/bg.jpg' %}" alt="스폰지밥">
  </div>
  <h1 class="text-center title">게시판에 오신 것을 환영합니다.</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'articles:create' %}" class="btn btn-secondary mt-3">글 작성하기</a>
  {% endif %}
  <table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성일자</th>
      <th scope="col">수정일자</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
      <th scope="row">{{ article.id }}</th>
      <td class="title"><a href="{% url 'articles:detail' article.pk %}">{{ article.title }} 
      {% if article.comment_set.count != 0 %}
      <sub>({{ article.comment_set.count }})</sub>
      {% endif %}
      </a></td>
      <td class="time_cnu">{{ article.created_at }}</td>
      <td class="time_cnu">{{ article.updated_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}